@model QuestionDetailModel
@functions {
    private string tryPluralize(int count, string singular, string plural)
    {
        return count == 0 || count == 1 ? singular : plural;
    }
}
@{
    ViewData["Title"] = Model.Title;
}
<h1 class="display-4">
    <small class="text-muted">
        <form class="inline" method="post" asp-action="Delete" asp-route-id="@Model.Id"  asp-route-redirect="/">
            <a href="#" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
        </form>
    </small>
    <span>@ViewData["Title"]</span>
    <small class="text-muted">
        <form class="inline" method="post" asp-route="vote-up" asp-route-id="@Model.Id">
            <a href="#" onclick="javascript: this.parentNode.submit(); return false;">&plus;</a>
        </form>
        /
        <form class="inline" method="post" asp-route="vote-down" asp-route-id="@Model.Id">
            <a href="#" onclick="javascript: this.parentNode.submit(); return false;">&minus;</a>
        </form>
    </small>
</h1>
<small class="text-muted">@Model.SubmissionTime, @Model.ViewNumber @tryPluralize(Model.ViewNumber, "view", "views"), @Model.VoteNumber @tryPluralize(Model.VoteNumber, "vote", "votes")</small>
<p>@Model.Message</p>
<h2 class="display-5">Answers</h2>
@if (Model.Answers.Count == 0)
{
    <p class="text-muted">No answers yet</p>
}
else
{
    <ul>
        @foreach (var a in Model.Answers)
        {
            <li>
                <form class="inline" method="post" asp-controller="Answers" asp-action="Delete" asp-route-id="@a.Id">
                    <a href="#" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
                </form>

                <span>@a.Message</span>
            </li>
        }
    </ul>
}
<a asp-route="add-answer" asp-route-id="@Model.Id">Add answer</a>
