@model QuestionDetailModel
@{
    ViewData["Title"] = Model.Title;
}
<h1>@Model.Title</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit question</a>
</div>
<small>
    <span class="text-muted">@Model.SubmissionTime</span>
    /
    <span class="text-muted">
        <pluralize singular="view" plural="views">@Model.ViewNumber</pluralize>
    </span>
    /
    <span class="text-muted">
        <pluralize singular="vote" plural="votes">@Model.VoteNumber</pluralize>
    </span>
    /
    <form class="inline" method="post" asp-route="question-vote-up" asp-route-id="@Model.Id">
        <a asp-route="question-vote-up" asp-route-id="@Model.Id" onclick="javascript: this.parentNode.submit(); return false;">&plus;</a>
    </form>
    /
    <form class="inline" method="post" asp-route="question-vote-down" asp-route-id="@Model.Id">
        <a asp-route="question-vote-down" asp-route-id="@Model.Id" onclick="javascript: this.parentNode.submit(); return false;">&minus;</a>
    </form>
    /
    <form class="inline" method="post" asp-action="Delete" asp-route-id="@Model.Id" asp-route-redirect="/">
        <a asp-action="Delete" asp-route-id="@Model.Id" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
    </form>
</small>
<div>
    @foreach (var t in Model.Tags)
    {
        <span class="badge badge-light">
            @t.Name <form class="inline" method="post" asp-route="delete-question-tag" asp-route-id="@Model.Id" asp-route-tagId="@t.Id">
                <a asp-route="delete-question-tag" asp-route-id="@Model.Id" asp-route-tagId="@t.Id" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
            </form>
        </span>
    }
</div>
<div>
    <a class="badge" asp-route="add-question-tag" asp-route-id="@Model.Id">Add tag</a>
</div>
<div class="card border-0">
    <div class="row">
        <div class="@(string.IsNullOrEmpty(Model.Image) ? "col-md-12" : "col-md-8")">
            <div class="card-body">
                <p class="card-text">@Model.Message</p>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div class="col-md-4">
                <img class="card-img" src="/uploads/@Model.Image" />
            </div>
        }
    </div>
</div>
<hr />
<div class="container card-body">
    <div class="row">
        <div class="col">
            <h3>Comments</h3>
            <div>
                <a asp-route="add-question-comment" asp-route-id="@Model.Id">Add comment</a>
            </div>
        </div>
    </div>
    @if (Model.Comments.Count == 0)
    {
        <div class="row">
            <div class="col">
                <p class="text-muted">No comments yet</p>
            </div>
        </div>
    }
    else
    {
        @foreach (var c in Model.Comments)
        {
            <div class="row">
                <div class="col">
                    <small>
                        <span class="float-left">
                            @c.Message <a asp-controller="Comments" asp-action="Edit" asp-route-id="@c.Id">Edit comment</a>
                        </span>
                        <span class="float-right">
                            <span class="text-muted">@c.SubmissionTime.ToString("s")</span>
                            /
                            <span class="text-muted">
                                <pluralize class="inline" singular="edit" plural="edits">@c.EditedNumber</pluralize>
                            </span>
                            /
                            <form class="inline" method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@c.Id">
                                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@c.Id" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
                            </form>
                        </span>
                    </small>
                </div>
            </div>
        }
    }
</div>
<hr />
<h1>Answers</h1>
<div>
    <a asp-route="add-answer" asp-route-id="@Model.Id">Add answer</a>
</div>
<div class="sort-buttons">
    <small class="text-muted">
        Sort by submission time <a asp-route-sort="SubmissionTime" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="SubmissionTime" asp-route-ascending="false" sort>&dtrif;</a>
        or votes <a asp-route-sort="VoteNumber" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="VoteNumber" asp-route-ascending="false" sort>&dtrif;</a>
    </small>
</div>
<hr />
@if (Model.Answers.Count == 0)
{
    <p class="text-muted">No answers yet</p>
}
else
{
    @foreach (var a in Model.Answers)
    {
        <h2>Answer <span class="text-muted">#@a.Id</span></h2>
        <div>
            <a asp-controller="Answers" asp-action="Edit" asp-route-id="@a.Id">Edit answer</a>
        </div>
        <small>
            <span class="text-muted">@a.SubmissionTime.ToString("s")</span>
            /
            <span class="text-muted">
                <pluralize class="inline" singular="vote" plural="votes">@a.VoteNumber</pluralize>
            </span>
            /
            <form class="inline" method="post" asp-route="answer-vote-up" asp-route-id="@a.Id">
                <a asp-route="answer-vote-up" asp-route-id="@a.Id" onclick="javascript: this.parentNode.submit(); return false;">&plus;</a>
            </form>
            /
            <form class="inline" method="post" asp-route="answer-vote-down" asp-route-id="@a.Id">
                <a asp-route="answer-vote-down" asp-route-id="@a.Id" onclick="javascript: this.parentNode.submit(); return false;">&minus;</a>
            </form>
            /
            <form class="inline" method="post" asp-controller="Answers" asp-action="Delete" asp-route-id="@a.Id">
                <a asp-controller="Answers" asp-action="Delete" asp-route-id="@a.Id" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
            </form>
        </small>
        <div class="card border-0">
            <div class="row">
                <div class="@(string.IsNullOrEmpty(a.Image) ? "col-md-12" : "col-md-8")">
                    <div class="card-body">
                        <p class="card-text">@a.Message</p>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(a.Image))
                {
                    <div class="col-md-4">
                        <img class="card-img" src="/uploads/@a.Image" />
                    </div>
                }
            </div>
        </div>
        <div class="container card-body">
            <div class="row">
                <div class="col">
                    <h3>Comments</h3>
                    <a asp-route="add-answer-comment" asp-route-id="@a.Id">Add comment</a>
                </div>
            </div>
            <div class="row">
                @if (a.Comments.Count > 0)
                {
                    <div class="container">
                        @foreach (var ac in a.Comments)
                        {
                            <div class="row">
                                <div class="col">
                                    <small>
                                        <span class="float-left">
                                            @ac.Message <a asp-controller="Comments" asp-action="Edit" asp-route-id="@ac.Id">Edit comment</a>
                                        </span>
                                        <span class="float-right">
                                            <span class="text-muted">@ac.SubmissionTime.ToString("s")</span>
                                            /
                                            <span class="text-muted">
                                                <pluralize class="inline" singular="edit" plural="edits">@ac.EditedNumber</pluralize>
                                            </span>
                                            /
                                            <form class="inline" method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@ac.Id">
                                                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@ac.Id" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
                                            </form>
                                        </span>
                                    </small>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <hr />
    }
}
