@model QuestionListModel
@{
    ViewData["Title"] = "Questions";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<div class="sort-buttons text-muted">
    Sort by title <a asp-route-sort="Title" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="Title" asp-route-ascending="false" sort>&dtrif;</a>,
    submission time <a asp-route-sort="SubmissionTime" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="SubmissionTime" asp-route-ascending="false" sort>&dtrif;</a>
    views <a asp-route-sort="ViewNumber" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="ViewNumber" asp-route-ascending="false" sort>&dtrif;</a>
    or votes <a asp-route-sort="VoteNumber" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="VoteNumber" asp-route-ascending="false" sort>&dtrif;</a>
</div>
<div class="container">
    @foreach (var q in Model.Questions)
    {
        <div class="row justify-content-between">
            <div class="col-md-auto">
                <form class="inline" method="post" asp-action="Delete" asp-route-id="@q.Id">
                    <a href="#" onclick="javascript: this.parentNode.submit(); return false;">&times;</a>
                </form>

                <a asp-controller="Questions" asp-action="Details" asp-route-id="@q.Id">@q.Title</a>
            </div>

            <div class="col-md-auto">
                <pluralize class="inline" singular="view" plural="views">@q.ViewNumber</pluralize> and <pluralize class="inline" singular="vote" plural="votes">@q.VoteNumber</pluralize>

                <span class="text-muted">@q.SubmissionTime.ToString("s")</span>

                <form class="inline" method="post" asp-route="vote-up" asp-route-id="@q.Id">
                    <a href="#" onclick="javascript: this.parentNode.submit(); return false;">&plus;</a>
                </form>
                /
                <form class="inline" method="post" asp-route="vote-down" asp-route-id="@q.Id">
                    <a href="#" onclick="javascript: this.parentNode.submit(); return false;">&minus;</a>
                </form>
            </div>
        </div>
    }
</div>
<div>
    <a asp-controller="Questions" asp-action="Add">Add question</a>
</div>
