@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AskMateWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Questions" asp-action="">AskMateWebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Questions" asp-action="Index">Latest Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Questions" asp-action="List">All Questions</a>
                        </li>
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <environment names="Development">
                                <li class="nav-item">
                                    <form class="form-inline" method="post" asp-controller="Database" asp-action="Reset">
                                        <a class="nav-link text-danger" asp-controller="Database" asp-action="Reset" onclick="javascript: this.parentNode.submit(); return false;">Reset</a>
                                    </form>
                                </li>
                            </environment>
                        }
                    </ul>
                    <form class="form-inline" method="get" asp-controller="Questions" asp-action="Search">
                        <input class="form-control" type="search" name="phrase" placeholder="Search">
                        <button class="btn text-success" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav">
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-controller="Users" asp-action="Details" asp-route-id="@Context.User.FindFirstValue("Id")">@Context.User.FindFirstValue("Username")</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                                    <a class="nav-link text-primary" asp-controller="Account" asp-action="Logout" onclick="javascript: this.parentNode.submit(); return false;">Logout</a>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AskMateWebApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
